{% load static %}
<table border=0 cellspacing="10">
  <tr>
    <td>
      <a href="http://www.united-church.ca/home">
          <img src="{% static "church/UC_Logo.jpg" %}" height="120" alt="UC Logo"/>
      </a>
    </td>
    <td align="center">
      <h1><big>Willingdon Heights Community Church</big><br>
          A Congregation of the <a href="http://www.united-church.ca/home">
          United Church of Canada</a><br>
          within the <a href="http://www.westminsterpresbytery.org/">
          Westminster Presbytery</a></h1>
    </td>
  </tr>
</table>