{% extends 'church/layout.html' %}
{% block content %}
{% load static %}
<img src="{% static 'church/Church_Building.jpg' %}" height="400" alt="Church building"/>
<h2>Welcome to Willingdon Heights Community Church</h2>
Everyone is welcome! Whether you are a long-standing member, a visitor to 
the area, or are just starting to explore the Christian faith, come and worship
with us in our regular services at 10:30 Sunday morning.  After the service, 
please join us in fellowship for coffee, snacks and discussion.
<p>
Our aim is to be a spiritually nurturing community of faith, seeking 
opportunities to develop a multicultural ministry.  
We aspire to be a true west coast church, reflecting the diversity of the vibrant 
communities in the Burnaby area.  Our normal language of service is English, 
but many members have a Korean background and we recently counted over ten 
different nationalities amongst our congregation. In the words of the old hymn,

<blockquote>
In Christ there is no East or West,<br>
in Him no South or North,<br>
but one great fellowship of Love<br>
throughout the whole wide Earth!<br>
</blockquote> 
{% endblock %}
