<ul>
<li><a href="/church/home/">Home</a></li>
<li><a href="/church/contact/">Find Us</a></li>
<li><a href="/church/mission/">Mission</a></li>
<li><a href="/church/services/">Services</a></li>
{% if userauth %}
<li><a href="/staff/churchevent/">New Event</a></li>
<li><a href="/staff/eventtype/">New EventType</a></li>
<li><a href="/staff/language/">New Language</a></li>
<!-- <li><a href="/admin/">Administration</a></li> -->
<li><a href="/accounts/logout/">Logout</a></li>
<!-- {% else %} -->
<!-- <li><a href="/staff/churchevent/">Staff Only</a></li> -->
{% endif %}
<ul>