{% extends 'church/layout.html' %}
{% block content %}
{% load static %}
<h2>Our Mission Statement</h2>
Our mission is to share the good news of Jesus Christ, as part of the United 
Church of Canada in North Burnaby, through worship, pastoral care, outreach,
and wise stewardship of people and resources.  Our aim is to be a spiritually 
nurturing community of faith, seeking opportunities to develop a 
multicultural ministry.

To fulfill this mission we offer:
<ul>
<li> Intergenerational worship
<li> Children's Sunday morning program
<li> Choir practice
<li> After-church fellowship
<li> Monthly birthday cakes
</ul> 
{% endblock %}
