{% extends 'church/layout.html' %}
{% block content %}
Our location is 4304 Parker Street, Burnaby, BC, at the intersection of Parker 
and Maddison, two blocks west of Willingdon Avenue.
<p>
<iframe width="300" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ca/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=willingdon+heights+united+church&amp;aq=&amp;sll=54.112352,-126.555646&amp;sspn=21.561311,39.506836&amp;ie=UTF8&amp;hq=willingdon+heights+united+church&amp;hnear=&amp;t=m&amp;ll=49.275757,-123.00632&amp;spn=0.0056,0.012832&amp;z=15&amp;output=embed"></iframe><br /><small><a href="https://maps.google.ca/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=willingdon+heights+united+church&amp;aq=&amp;sll=54.112352,-126.555646&amp;sspn=21.561311,39.506836&amp;ie=UTF8&amp;hq=willingdon+heights+united+church&amp;hnear=&amp;t=m&amp;ll=49.275757,-123.00632&amp;spn=0.0056,0.012832&amp;z=15" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</p>
{% endblock %}